/*amarillo claro=#fcd145*/

*{
	margin: 0;
	padding: 0;
}
.navbar-lab{
	position: fixed;
	background-color: transparent;
	width: 100%;
	border: none;
	z-index: 1000;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fcd145;
}
.navbar-default .bnt-rspnsv {
    border-color: #fcd145;
    background-color: #fcd145;
}
.navbar-default .bnt-rspnsv .icon-bar {
    background-color: white;
}
.bnt-rspnsv:hover{
	color: #fcd145;
}
.navbar-lab .titulo{
	color: #fcd145; 
	font-family: 'Kaushan Script', cursive;
	font-size: 30px;
}
.welcome{
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center center;
}
.texto-welcome{
	text-align: center;
	position: absolute; 
	top: 38vh;
}
.welcome .texto-welcome h2{
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 23px;
	color: white;
}
.welcome .texto-welcome h1{
	font-size: 55px;
	color: white;
	font-weight: 800;
}
.welcome .tell-me{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: white;
	background-color: #fcd145; 
	padding: 20px 20px;
	border: none;
	font-size: 20px;
	margin: 20px;
	z-index: -1000;
}
.services{
	padding-bottom: 10vh;
	padding-top: 10vh;
	width: 100%
	padding-left: 5vh;
	padding-right: 5vh;

}
.services h1{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #333333;/*gris oscuro*/
}
.services h2{
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 15px;
	color: #848684;/*gris claro*/
}
.services .col-services{
	width: 33%
}
.col-services .circle{
	width: 70px;
	height: 70px;
	background: #fcd145;
	margin: 0 auto;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.col-services i{
	position: relative;
    top: 2vh;
    right: 0px;
    color: white;
}
.col-services h4{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #333333;
}
.services p{
	font-family: 'Droid Serif', serif;
	font-size: 12px;
	color: #848684;
}
.portfolio{
	padding-bottom: 10vh;
	padding-top: 10vh;
	width: 100%
	padding-left: 5vh;
	padding-right: 5vh;
	background-color: #eeeeee;
}
.portfolio h1{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #333333;
}
.portfolio h2{
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 15px;
	color: #848684;/*gris claro*/
}
.fotos{
	padding-left: 5vh;
}
.fotos2{
	padding-left: 2vh;
	padding-top: 3vh;
}
.caja{
	background-color: white;
	width: 100%;
	padding-bottom: 1vh;
}
.caja img{
	width: 100%;
}
.caja h4{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #333333;
}
.caja p{
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 12px;
	color: #848684;/*gris claro*/
}
#about{
	padding: 8% 0;
}
.linea-about{
	margin-top: 50px;
}
.circulo img{
	border-radius:150px;
	border: 5px solid #d3d3d3;
}
.circulo-amarillo{
	width: 165px;
    height: 165px;
    border-radius: 165px;
    margin-left: 500px;
    padding-top: 15px;
	background-color: #fcd145;
	border: 5px solid #d3d3d3;
}
.circulo-amarillo p{
	position: relative;
	bottom: -18px;
	color: #ffffff;
	font-size: 20px;
}
.about h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #333333;
}
.about p{
	font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 15px;
    color: #848684;
}
.linea-about p{
	font-style: normal;
}
.linea-about h4{
	font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
}
.team{
	padding-bottom: 10vh;
	padding-top: 10vh;
	width: 100%;
	padding-left: 5vh;
	padding-right: 5vh;
	background-color: #eeeeee;
}
.team .amazing h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #333333;
}
.team p{
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 15px;
    color: #848684;
}
.linea-team{
	padding-top: 3vh;
}
.linea-team i{
	color: black;
}
.linea-team h4{
	font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: black;
}
.circulo-team1{
	margin-left: 35px;	
	width: 130px;
    height: 130px;
    border-radius: 130px;
	border: 5px solid white;
	background-image: url(../img/kay-garland.jpg);
	position: relative;
    left: 12vh;
}

.circulo-team2{
	margin-left: 35px;	
	width: 130px;
    height: 130px;
    border-radius: 130px;
	border: 5px solid white;
	background-image: url(../img/larry-parker.jpg);
	position: relative;
    left: 12vh;
}
.circulo-team3{
	margin-left: 35px;	
	width: 130px;
    height: 130px;
    border-radius: 130px;
	border: 5px solid white;
	background-image: url(../img/diana-petersen.jpg);
	position: relative;
    left: 12vh;
}
.p2{
	font-style: normal;
	padding-top: 5vh;

}
.marcalinea{
	width: 100%;
	padding-bottom: 10vh;
	padding-top: 10vh;
	padding-right: 5vh;
	padding-left: 5vh;
}
.marca-foto{
	padding-top: 3vh;
}
.contact{
	padding-bottom: 10vh;
	padding-top: 10vh;
	width: 100%
	padding-left: 5vh;
	padding-right: 5vh;
	background-color: black;
	background-image: url(../img/map-image.png);
}
.contact h1{
	font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: white;
}
.contact p{
	font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 15px;
    color: white;
    padding-bottom: 3vh; 
}
.form-input{
	width:90%;
	height: 7vh;
	margin-top: 2vh;
	border-radius: 4px;
}
.form-input2{
	width:90%;
	height: 25vh;
	margin-top: 2vh;
	border-radius: 4px;
}
.btn-enviar{
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    background-color: #fcd145;
    padding: 20px 20px;
    border: none;
    font-size: 20px;
    margin: 20px;
    z-index: -1000;
}
footer{
	width: 100%;
	padding-bottom: 5vh;
	padding-top: 5vh;
	padding-right: 5vh;
	padding-left: 5vh;
	font-family: 'Montserrat', sans-serif;
}
.enlaces a{
	text-decoration: none;
	color: #fcd145;
}
